<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
    <link rel="stylesheet"
          href="C:\Users\Stryker\Desktop\1.års.erhversprojekt\src\main\resources\static\style.css"
          th:href="@{style.css}" />
</head>
<body>
<h1>Login</h1>

<form th:action="@{/login}" method="post" th:object="${user}">

    <p>Name:</p>
    <input type="text" th:field="*{name}"/>
    <p>Password</p>
    <input type="password" th:field="*{password}"/>
    <p></p>
    <input type="submit" value="login" class="btn-primary" />

</form>

</body>
</html>
