<!DOCTYPE html>
<html lang="en">
<head>
    <title>New Product Page</title>
    <link rel="stylesheet"
          href="C:\Users\Stryker\Desktop\1.års.erhversprojekt\src\main\resources\static\style.css"
          th:href="@{style.css}" />
</head>
<body>
<h1>New Product</h1>

<form th:action="@{/newProduct}" method="post" th:object="${product}">
    <p>Product Name:</p>
    <input type="text" th:field="*{name}"/>
    <p>Cost Price:</p>
    <input type="text" th:field="*{costPrice}"/>
    <p>Sales Price:</p>
    <input type="text" th:field="*{salesPrice}"/>
    <p>Product Number</p>
    <input type="text" th:field="*{productNumber}"/>
    <p></p>
    <input type="submit" value="Add" class="btn-primary" />
</form>

</body>
</html>